<div class="navbar-header" style="margin:5px 5px">
	<h4><%= link_to 'SIGN IN', new_user_session_path %></h4>
</div>

<div class="navbar-header" style="margin:5px 5px">
	<h4><%= link_to 'SIGN UP', new_user_registration_path %></h4>
</div>
