<div class="navbar-header" style="margin:5px 5px">
	<h4><%= link_to 'MY ACCOUNT', edit_user_registration_path %></h4>
</div>
        
<div class="navbar-header" style="margin:5px 5px">
	<h4><%= link_to 'LOG OUT', destroy_user_session_path, method: :delete %></h4>
</div>  